{% extends "base.html" %}
{% load static %}

{% block title %}My Stored Posts{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/stored-posts.css' %}" />
{% endblock styles %}

{% block body %}
    <section id="stored-posts">
        {% if not has_posts %}
            <p>You don't have any saved posts</p>
        {% endif %}
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url "post-detail" post.slug %}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock body %}